<h1> <a href="/">Media Ranker</a></h1>
<p>Ranking the Best of Everything<p>

<table>
    <tr>
      <th>Ranking</th>
      <th>Name</th>
      <th>Upvote</th>
    </tr>
  <%= @movies.each do |movie| %>
    <tr>
      <!-- <td><%# ranking %></td> -->
      <td><%=  movie.name  %></td>
      <td><%=  link_to 'Upvote' %></td>
    </tr>
  <% end %>
</table>