<%= image_tag "owl_media_ranker.jpg" %>
<h1> <a href="/">Media Ranker</a></h1>
<p>Ranking the Best of Everything<p>

<table>
  <tr>
    <th>Ranking</th> 
    <th>Name</th> 
    <th>Upvote</th>
  </tr>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= "Ranking: " + (movie.rankings == nil ? "nil" : "notnil") %></td>
      <td><%= movie.name  %></td>
      <td>upvote buttons here</td>
      <!-- <td><%# link_to 'Upvote', upvote_movie_path(upvote), method: :post %></td-->
      <%# link_to 'View All Movies!', movies_index_path(index) %>
      <%# link_to 'View All Media!', index_show_path(index) %>
    </tr>
  <% end %>
</table>

