<h1>List of Users</h1>

<section>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Votes</th>
        <th>Joined</th>
      </tr>
    </thead>
    <tbody>
        <% @users.each do |item| %>
        <tr>
        <td><%= link_to item.username, user_path(item.id) %></td>
        <td><%= @upvotes.where(user_id: item.id).count %></td>
        <td><%= item.join_date %></td>
      </tr>
      <%end %>
    </tbody>
  </table>
</section>
