<main>

  <table>
    <tr>
      <th>
        Ranking
      </th>
      <th>
        Name
      </th>
      <th>
        Upvote
      </th>
    </tr>

    <% @songs.each do |song| %>
    <tr>
      <td>
        <%= song.score %>
      </td>
      <td>
        <%= song.name %>
      </td>
      <td>
        <%= button_to "Upvote", upvote_song_path(song), method: :patch %>
      </td>
    </tr>
    <% end %>

  </table>

</main> 
