<%= image_tag "owl_media_ranker.jpg" %>
<h1> <a href="/">Media Ranker</a></h1>
<p>Ranking the Best of Everything<p>

<table>
  <tr>
    <th>Ranking</th> 
    <th>Name</th> 
    <th>Upvote</th>
  </tr>
  <% @albums.each do |album| %>
    <tr>
      <td><%= "Ranking: " %></td>
      <td><%=  album.ranking %>
      <td><%=  album.name  %></td>
    </tr>
  <% end %>
</table>

<%# button_to 'View All albums!', index_show_path(index) %>
<%# button_to 'View All Media!', index_show_path(index) %>