<%= image_tag "owl_media_ranker.jpg" %>
<h1> <a href="/">Media Ranker</a></h1>
<p>Ranking the Best of Everything<p>

<ul>
  <li>Ranking</li> 
  <li>Name</li> 
  <li>Upvote</li>
</ul>
<% @albums.each.ranking.sort.reverse do |album| %>
  <ul>
    <li><%= "Ranking: " + album.rankings.to_s %></li>
    <li><%= link_to album.name, albums_show_path(album[:id])  %></li>
    <li><%= link_to 'Upvote', albums_upvote_path(album) %></li>
  </ul>
<% end %>

<%# button_to 'View All albums!', index_show_path(index) %>
<%# button_to 'View All Media!', index_show_path(index) %>