<h2>Vote now!</h2>

<article>
  <h3>Top Books</h3>
  <ul>
    <% @books.each do |book| %>
        <li><%= book.name %></li>
      </p>
    <% end %>
  </ul>
</article>

<article>
  <h3>Top Albums</h3>
  <ul>
    <% @albums.each do |album| %>
        <li><%= album.name %></li>
      </p>
    <% end %>
  </ul>
</article>

<article>
  <h3>Top Movies</h3>
  <ul>
    <% @movies.each do |movie| %>
        <li><%= movie.name %></li>
      </p>
    <% end %>
  </ul>
</article>
