<h2>Vote now!</h2>

<article>
  <h3>Top Books</h3>
  <ul>

    <% @books.each do |book| %>
        <li><%= "#{book.name}: #{book.votes} votes" %></li>
      </p>
    <% end %>
  </ul>
</article>

<article>
  <h3>Top Albums</h3>
  <ul>
    <% @albums.each do |album| %>
        <li><%= "#{album.name}: #{album.votes} votes" %></li>
      </p>
    <% end %>
  </ul>
</article>

<article>
  <h3>Top Movies</h3>
  <ul>
    <% @movies.each do |movie| %>
        <li><%= "#{movie.name}: #{movie.votes} votes" %></li>
      </p>
    <% end %>
  </ul>
</article>
