@import url('foundation.css');
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre|Quicksand');

a,
p {
  font-family: 'Abhaya Libre', serif;
}

nav {
  /*text-align: center;*/
}

nav h1,
nav h2  {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:'Quicksand', sans-serif;
  text-transform: uppercase;
}
