<!DOCTYPE html>
<html>
<head>
  <title>Mediaranker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1>Media Ranker</h1>
  <h3>Rank with the best of them</h3>
</header>

<%= yield %>

</body>
</html>
